<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
  
</style>
<div class="container mt-4">
    <h4>Your current Plan Request </h4>
    <div class="row">
        <div class="col-12 mt-4 col-md-6 text-center d-flex " style="align-items: center; justify-content: center;">
            <div class="img text-center">
                <img src="/congratulation.png" alt="" style="width: 80px;" class="align-middle"> 
            </div>
        </div>
    </div>
    <div class="text-success text-center mt-3 "><h4>Application Approved  :)</h4></div>
    <div class="container mt-4">
        <table class="mx-auto">
            <tr>
                <td>Applied on :</td>
                <td><%= app.applied_on %></td>
            </tr>
            <tr>
                <td>Approved on :</td>
                <td><%= app.approved_date %></td>
            </tr>
           <tr>
                <td>Disbursed Date :</td>
                <td><%= app.approved_date %></td>
            </tr>
            <tr>
                <td>Disbursed on :</td>
                <td>Something Static</td>
            </tr>
           <tr>
                <td>Repayment  Date :</td>
                <td><%= app.repayment_date %></td>
            </tr>
            <tr>
                <td>Total Amount :</td>
                <td><%= app.amount %></td>
            </tr>
          
        </table>
        <div class="repay text-center mt-3">
<!--              <div class="d-flex">
    <form action="/user/payment_link" method="post"  class="w-100">
      <button type="submit"  class="btn btn-sm btn-primary py-3 w-100">
        REPAY
      </button>
      
    </form>
  </div> -->
          <a href="/user/logout" class="btn btn-sm  mt-2  btn-success w-100 py-2 rounded"> LOGOUT</a>
           <a href="/user/logout" class="btn btn-sm  mt-2  btn-success w-100 py-2 rounded"> LOGOUT</a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>