
<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
    #butmian{
    position: relative;
  }
  .butrequest{
        top: 5px;
    right: 0px;
    position:absolute !important;
  }
</style>

<div class="container text-center mt-5">
		<!-- Button trigger modal -->

				<form action="/user/sign" method="post">
					<input type="text" name="phone" id="" class="form-control mt-2" value="<%= user.phone %>" readonly>
				<input type="text" name="amount" id="" value="<%= amount %>" class="form-control mt-2" readonly>
				<input type="text" name="duration" id="" value="<%= duration %>" class="form-control mt-2" readonly>
    		<input type="text" name="charges" id="" value="<%= charges %>" class="form-control mt-2" readonly>
<div class="container mt-3">
<ul>
  <li>We will review application generally within 15 Minutes </li>
  <li>Amount credited to your account Will be your loan amount - Charges shown on this page</li>
  <li>Please contact support if face any issue.</li>
  </ul>
</div>



		<div class="container">
      <div class="form-check mt-3">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
<a href="/userAgreement" class="text-decoration-none text-light" >By submitting this application You agree with out loan agreement</a>
  </label>
</div>
      <button type="submit" class="btn btn-success mt-3 w-100">Submit</button></div>
	</form>
	  
	</div>


    <p id="requireHTTPS" class="hidden">
     
    </p>
       
    <p id="notSupported">
    
    </p>
       

    <ol>
      
      <li class="d-none">
        <input type="checkbox" id="name" checked />
        <label for="name">Include name?</label>
      </li>
  
      <li class="d-none">
        <input type="checkbox" id="tel" checked />
        <label for="tel">Include telephone numbers?</label>
      </li>
    
    </ol>
  
   
 
    
    <ul id="results">
     
    </ul>
    <pre id="rawResults">
    </pre>


<%- include('./partials/footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
</script>

 <script src="/common.js"></script>
    <script src="/demo2.js"></script>

 