<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td>First Name  </td>
                <td><%= user.first_name %></td>
            </tr>
            <tr>
                <td>Middle Name  </td>
                <td><%= user.middle_name %></td>
            </tr>
            <tr>
                <td>Last Name  </td>
                <td><%= user.last_name %></td>
            </tr>
            <tr>
                <td>Father Name  </td>
                <td><%= user.father_name %></td>
            </tr>
            <tr>
                <td>Mother Name  </td>
                <td><%= user.mother_name %></td>
            </tr>
            <tr>
                <td>Email </td>
                <td id="user_email"><%= user.email %></td>
            </tr>
            <tr>
                <td>City   </td>
                <td><%= user.city %></td>
            </tr>
            <tr>
                <td>state   </td>
                <td><%= user.state %></td>
            </tr>
            <tr>
                <td>Address </td>
                <td><%= user.address %></td>
            </tr>      
            <tr>
                <td>Phone </td>
                <td id="user_phone"><%= app.phone %></td>
            </tr>      
            <tr>
                <td>DoB </td>
                <td><%= user.dob %></td>
            </tr>      
            <tr>
                <td>pin code </td>
                <td><%= user.pin_code %></td>
            </tr>      
            <tr>
                <td>Refference Name </td>
                <td><%= user.referrence1_name %></td>
            </tr>      
            <tr>
                <td>Refference Contact </td>
                <td><%= user.referrence1_contact %></td>
            </tr>      
            <tr>
                <td>Refference Name 2nd</td>
                <td><%= user.referrence2_name %></td>
            </tr>      
            <tr>
                <td>Refference Contact 2nd</td>
                <td><%= user.referrence2_contact %></td>
            </tr>      
            <tr>
                <td>Attached Docs Id</td>
                <td><%= user.document_id %></td>
            </tr>      
            <tr>
                <td>Bank Name</td>
                <td><%= user.bank_name %></td>
            </tr>      
            <tr>
                <td>Bank account number</td>
                <td id="user_account_number"><%= user.account_number %></td>
            </tr>      
            <tr>
                <td>Account holder name</td>
                <td id="account_holder_name"><%= user.account_holder_name %></td>
            </tr>      
            <tr>
                <td>IFSC code</td>
                <td id="user_ifsc_code"> <%= user.ifsc_code %></td>
            </tr>      
            <tr>
                <td>First Image</td>
                <td><img src="<%= user.image_1 %>" alt="" style="width: 100px;"></td>
            </tr>      
            <tr>
                <td>Second Image</td>
                <td><img src="<%= user.image_2 %>" alt="" style="width: 100px;"></td>
            </tr>      
             
               <tr>
                <td>Video</td>
                <td><video src="<%= user.video %>" style="width:200px;"  controls></video></td>
            </tr>     
            <tr>
                <td>Status </td>
                <td><%= app.application_status %></td>
             </tr>        
            <tr>
                <td>Applied </td>
                <td><%= app.applied_on.toString().split('T')[0] %></td>
            </tr>        
            <tr>
                <td>Repayment date</td>
                <td><%= app.repayment_date %></td>
            </tr>        
        </tbody>
      </table>
      <div class="bg-success my-3 text-center py-2">
        <h4 class="text-light">
          Approved
        </h4>
  </div>
  <div class="d-flex">
    <form action="/user/api" method="post"  class="w-100">
      <input type="hidden" value="<%= app.id %>" name="app_id">
      <input type="hidden" value="<%= user.phone %>" name="phone">
      <button type="submit"  class="btn btn-sm btn-primary py-3 w-100">
        Transfer Funds
      </button>
      
    </form>
  </div>
   <div class="d-flex mt-2">
    <form action="/user/payout" method="post"  class="w-100">
      <input type="hidden" value="<%= app.id %>" name="app_id">
      <button type="submit"  class="btn btn-sm btn-primary py-3 w-100">
        payout
      </button>
      
    </form>
  </div>
</div>


<%- include('./partials/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<!-- <script>
  $(document ).ready(function() {
  user_email =  $('#user_email').text();
  user_phone = $('#user_phone').text();
  user_account = $('#user_account_number').text();
 user_ifsc = $('#user_ifsc_code').text();
  account_holder_name = $('#account_holder_name').text();
   user_ifsc = $('#user_ifsc_code').text();




    
    console.log(user_phone , user_email , user_account , user_ifsc)
});
var body = {
    phone: '34534534'
}

axios({
    method: 'post',
    url: 'https://udhaari.online/user/api',
    data: body
})
.then(function (response) {
    console.log(response);
})
.catch(function (error) {
    console.log(error);
});

</script> -->